.bordeBE{
    border-width:1px;
    border-style:solid;
    border-color:black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: grid;
    place-items: center;
    
}