@import '../../../styles/variables.scss';

.overrideSpinning {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $BLACK;
    opacity: 0.5;
}
