.pointsPerFood {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
    height: 100vh;

    .informationArea {
        display: flex;
        width: 90%;
        gap: 3rem;

        .selectedExcercise {
            width: 50%;
        }

        .formArea {
            width: 50%;
            .ant-input-number {
                width: 100%;
            }
        }
    }

    .table-container {
        height: auto;
        max-width: 90%;
    }
}
