.main-Administracion {
    width: auto;
    padding-left: 100px;    
    background: linear-gradient(
        180deg,
        rgba(50, 138, 178, 1) 0%,
        rgba(0, 162, 79, 1) 100%
    );
    
}
.primero{
    display: grid;
  margin-left: 30%;
  margin-bottom: 20%;
  margin-right: 30%;
  /* background-color:white; */
  
  grid-template-columns: 2fr 1fr;
}
.texto {
    margin-top: 10px;
    font-size:30px;
    font-family: 'Roboto';
    display: inline-block;
    color: white;
    
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 20px;
    /* margin-bottom: 0px; */
    margin-top: 10px;
    
  }