$background: #24282f;
$white: #ffffff;

.loginContainer {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        rgba(50, 138, 178, 1) 0%,
        rgba(0, 162, 79, 1) 100%
    );
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    color: $white;

    .form {
        width: 45vw;
        height: 60vh;
        display: flex;
        flex-direction: column !important;
        color: $white !important;
        &__item {
            width: 100% !important;
            display: flex;
            flex-direction: column !important;
            justify-content: flex-start !important;
        }
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #000000;
    }
    .ant-tabs-ink-bar {
        background-color: #000000;
    }
}
