*{
    //font-family: ;    
    margin: 0px;
    padding: 0px;
}

.container{            
    width: 100%;
    height: 100vh;   
    display: flex;     
    flex-direction: row;
    background-color: white;
}

.side_bar{
    
}

.food{   
    display: flex;         
    flex-direction: column;    
    margin-left: 4%;   
    width: 45%;  
    max-height: 100%;
    align-items: center;    
    justify-content: center;    
}

.search{
    display: flex;
    //background-color: blue;             
    height: 20%;    
    margin-bottom: 10px;
    width: 60%;  
    align-items: center;        
}

.grid_food{                    
    height: 100%;
    width: 100%;    
    margin-bottom: 10%;
    overflow: hidden;
    overflow-y: scroll;        
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 50%;   
    box-shadow: 0px 0px 30px  #909497 ;   
    border-radius: 10px;
    flex-wrap: wrap;
}

.grid_food img{
   margin: 10px;       
   border-radius: 10px;
   height: 200px;   
   width: 200px;   
   box-shadow: 0px 5px 10px black;   
}

.grid_food h1{
    border: 1px;
    border-style: solid;
    width: 90%;
    margin: 2%;
    box-shadow: 0px 5px 10px black;   

}

/*.grid_food img:hover{
    width: 210px;
}*/


.icons{
    //background-color: aqua;
    width: 40%;    
    display: flex;
    flex-direction: column;    
    align-items: center;
}


.img_food{
    //background-color: red;    
    width: 100%;    
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-container{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#img-container-hidden{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;  
    visibility: hidden;  
}


#icons-icons{
    //background-color: red; 
    display: flex;
    gap: 20px;    
}

.img-alimento{
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon_healty{
    //background-color: red;
    width: 90%;
    margin-top:2%;
    height: 10%;
    display: flex;   
    flex-direction: column; 
}

.icon_enviroment{
    //background-color: red;
    width: 90%;
    margin-top:5%;
    height: 10%;
    display: flex;  
    flex-direction: column; 
 
}

.icon_economy{
    //background-color: red;
    width: 90%;
    margin-top:5%;
    height: 10%;
    display: flex;   
    flex-direction: column; 
}

.icon_culture_society{
    //background-color: red;
    width: 90%;
    margin-top:5%;
    height: 10%;
    display: flex;   
    flex-direction: column; 

}

.props{
    width: 50%;
    //background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#sub{
    font-size: medium;
    margin-left: 10px;
}

.head_props{
    display: flex;     
    //background-color: red;  
    width: 100%;     
    justify-content: center;   
}

#title{
    font-weight: 700;
}

.head_props #title{        
    word-break: break-all;
    text-align: center;
}

.data_props{
    //border-style: solid;        
    width: 100%;    
    height: 75%;        
    display: flex;
    border-radius: 10px;    
    background-color: rgb( 248, 249, 249 );     
    align-items: center;    
    flex-direction: column;    
    overflow-y: scroll;
}

.property{
    //background-color: red;
    display: flex;
    flex-direction: column;
    width: 80%;    
    margin-top: 10px;
    margin-bottom: 10px;
}

#atr-titulo{
    //background-color: brown;
    width: 100%;
    height: 30px;
    font-weight: 600;
}

.atr-editable{
    //background-color: #909497;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}

.preparaciones{
    //border-style: solid;
    width: 90%;
    background-color: rgb( 248, 249, 249 );     
    height: 18%;
    border-radius: 10px;
    margin: 2%;
    display: flex;
    flex-direction: row;
    //background-color: orange;
}

.tags{
    //background-color: red;
    width: 90%;
    text-align: center;
    overflow-y: scroll;
}

.add_tag{
    width: 10%;
    text-align: center;
    //background-color: blue;
}

.button_save{
    //background-color: red;
    display:flex;
    height: 95%;
    align-items: flex-end;
}

#save{    
    height: 5%;
    background: linear-gradient(to top, rgb(52, 103, 185),rgb(52, 103, 185), white);
    border-radius: 40px;
    margin-right: 10px;
    width: 100px;
    font-weight: 700;
    color: white;
}