*{
    //font-family: ;    
    margin: 0px;
    padding: 0px;
}

.container{            
    width: 100%;
    height: 100vh;   
    display: flex;     
    flex-direction: row;
    background-color: white;
}

.side_bar{
    
}

.food{   
    display: flex;         
    flex-direction: column;    
    margin-left: 4%;   
    width: 50%;               
    align-items: center;
    justify-content: center;    
}


.search{
    display: flex;
    //background-color: blue;             
    height: 20%;    
    width: 60%;  
    align-items: center;        
}

.grid_food{                    
    height: 100%;
    width: 85%;    
    margin-bottom: 10%;
    overflow: hidden;
    overflow-y: scroll;        
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 50%;   
    box-shadow: 0px 0px 30px  #909497 ;   
    border-radius: 10px;
    flex-wrap: wrap;
}

.grid_food img{
   margin: 10px;       
   border-radius: 10px;
   height: 300px;
   width: 200px;   
   box-shadow: 0px 5px 10px black;   
}

.grid_food img:hover{
    width: 210px;
}


.icons{
    //background-color: aqua;
    width: 40%;    
    display: flex;
    flex-direction: column;    
    align-items: center;
}


.img_food{
    //background-color: white;
    width: 100%;    
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_healty{
    //background-color: red;
    width: 90%;
    margin-top:2%;
    height: 10%;
    display: flex;    
}

.icon_enviroment{
    //background-color: red;
    width: 90%;
    margin-top:2%;
    height: 10%;
    display: flex;   
}

.icon_economy{
    //background-color: red;
    width: 90%;
    margin-top:2%;
    height: 10%;
    display: flex;   
}

.icon_culture_society{
    //background-color: red;
    width: 90%;
    margin-top:2%;
    height: 10%;
    display: flex;   
}

.props{
    width: 50%;
    //background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.head_props{
    display: flex;     
    //background-color: red;  
    width: 100%;     
    justify-content: center;   
}

.head_props #title{        
    word-break: break-all;
    text-align: center;
}

.data_props{
    border-style: solid;        
    width: 90%;    
    height: 70%;        
    display: flex;
    flex-direction: column;
}

.preparaciones{
    border-style: solid;
    width: 90%;
    height: 20%;
    margin: 2%;
}