.users-container {
    width: 85%;
    height: 100vh;
}

.usercard-container {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title-container h2 {
    font-size: 2em;
    margin-bottom: 0;
    border-bottom-style: solid;
    border-bottom-color: #439776;
}
