.users-container {
  width: 85%;
}

.usercard-container {
  background-color: #f2f2f2;
}

.title-container h2 {
  font-size: 2em;
  margin-bottom: 0;
  border-bottom-style: solid;
  border-bottom-color: #439776;
}
