
.glassbackground{
    /* From https://css.glass */
  background: rgba(110, 156, 213, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(110, 156, 213, 0.3);
  width: 100rem;
  height:100%;
  align-items: center;
  margin-top: 85rem;
}

.containerBasicInfo{
  width: 60%;       
  //background-color: white;
  margin-left: 20%;
  margin-top: 5%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 10px;  
  border: solid 2px black;
  /* From https://css.glass */
  background: rgba(81, 118, 139, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(52, 202, 222, 0.3);
}

.basicInfo-Title{
    width: 90%;
    //background-color: RED;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    font-weight: 800;
    font-size: x-large;
}

.profile-imgBasic {
  position: relative;
  width: 98px;
  height: 98px;
  border-radius: 64px;
  margin-right: 60%;

  //Colorful border
  background: #26bdb5;
  padding: 2px;

  //Shadow
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.photo {
  width: 94px;
  height: 94px;
  border-radius: 64px;
}

.basicInfo-Name-Container{
  width: 90%;
  //background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.basicInfo-Name-Container2{
  width: 60%;
  //background-color: rgb(255, 0, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: larger;
  height: 100%;
}

.id-name{
  margin-left: 0px;
  font-weight: 600;
}

.lb-name{
  background-color: white;
  border-radius: 5px;
  border: solid 1px black;
  width: 80%;
  height: 30%;
  margin-top: 0px;
  text-align: center;
}

//You may be able to delete this 
.basicInfo-homeCel-Container{
  width: 90%;
  //background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.basicInfo-homeCel-Container2{
  width: 60%;
  //background-color: rgb(57, 221, 194);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: larger;
  height: 100%;
}

.basicInfo-birthPlaceGender-Container{
  width: 90%;
  //background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.basicInfo-birthPlaceGender-Container2{
  width: 60%;
  //background-color: rgb(207, 17, 99);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: larger;
  height: 100%;
}

//Dont delete this XD

.basicInfo-Save-Container{
  width: 90%;
  //background-color: rgb(217, 255, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.basicInfo-Save-Container2{
  width: 60%;
  background-color: rgb(207, 17, 99);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: larger;
  height: 50%;
}

.btn-Save-basicInfo{
  background-color:   rgb(159, 245, 163);
  width: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 600;
  margin-right:0vh;
  font-size: larger;
  border-radius: 10px;  
}

//Circunferencia 
.containerCircunferencia{
  width: 60%;       
  //background-color: white;
  margin-left: 20%;
  margin-top: 5%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 10px;  
  border: solid 2px black;
  /* From https://css.glass */
  background: rgba(81, 118, 139, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(52, 202, 222, 0.3);
}

.circunferencia-Container{
  width: 90%;
  //background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.circunferencia-ContainerGrafica{
  width: 60%;
  //background-color: rgb(255, 0, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: larger;
  height: 20rem;
}

.circunferencia-Container2{
  width: 60%;
  //background-color: rgb(255, 0, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: larger;
  height: 100%;
}

.label-circunferencia{
  margin-right: 3rem;
  font-weight: 600;
}

.input-circunferencia{
  background-color: white;
  border-radius: 5px;
  border: solid 1px black;
  width: 80%;
  height: 50%;
  margin-top: 0px;
  margin-right: 2.3rem;
  text-align: center;
}

#select-pro{    
  display: flex; 
  flex-direction: row;    
  justify-content: space-around;
  /*background-color: purple;*/
  margin-top: -1.5%;
  //width: 20%;
}

.select-pro2{
  //width: 100%;
  font-weight: 600;
  font-size: larger;
  /*background-color: purple;*/
}

.btn-see-circunferencia{
  background-color:   rgb(159, 245, 163);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 600;
  margin-left:10vh;
  font-size: larger;
  border-radius: 10px;  
  margin-top: 1.5rem;
}


//Campo Corporales
.containerCampoCor{
  width: 60%;       
  //background-color: white;
  margin-left: 20%;
  margin-top: 5%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 10px;  
  border: solid 2px black;
  /* From https://css.glass */
  background: rgba(81, 118, 139, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(52, 202, 222, 0.3);
}

.campCor-Container{
  width: 90%;
  //background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.campoCor-Container2{
  width: 15rem;
  //background-color: rgb(255, 0, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: larger;
  height: 100%;
}

.label-campCor{
  margin-left: 1rem;
  width: 10rem;
  font-weight: 600;
}

.input-campCor{
  background-color: white;
  border-radius: 5px;
  border: solid 1px black;
  width: 11rem;
  height: 1.7em;
  margin-top: 0px;
  margin-left: 2rem;
  text-align: center;
}

.label-campCor2{
  margin-right: 2rem;
  width: 10rem;
  font-weight: 600;
}

.input-campCor2{
  background-color: white;
  border-radius: 5px;
  border: solid 1px black;
  width: 11rem;
  height: 1.8rem;
  margin-top: 0px;
  text-align: center;
  margin-right:1rem;
}

.btn-see-camCor{
  background-color:   rgb(159, 245, 163);
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 600;
  margin-right: 1rem;
  font-size: larger;
  border-radius: 10px;  
  margin-top: 1.5rem;
}



//Estado General 
.containerEstadoGen{
  width: 60%;       
  //background-color: white;
  margin-left: 20%;
  margin-top: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 10px;  
  border: solid 2px black;
  /* From https://css.glass */
  background: rgba(81, 118, 139, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(52, 202, 222, 0.3);
}

.estadoGen-Container{
  width: 90%;
  //background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.estadoGen-Container2{
  width: 15rem;
  //background-color: rgb(255, 0, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: larger;
  height: 100%;
}

.label-estadoGen{
  margin-left: 2rem;
  width: 10.8rem;
  font-weight: 600;
}

.input-campCor{
  background-color: white;
  border-radius: 5px;
  border: solid 1px black;
  width: 11rem;
  height: 1.7em;
  margin-top: 0px;
  margin-left: 2rem;
  text-align: center;
}

.label-estadoGen2{
  margin-right: 30rem;
  width: 10rem;
  font-weight: 800;
}

.label-estadoGen3{
  margin-left: 5rem;
  width: 10rem;
  font-weight: 800;
  font-size: large;
}

.label-estadoGen2{
  margin-right: 30rem;
  width: 10rem;
  font-weight: 800;
}

.input-campCor2{
  background-color: white;
  border-radius: 5px;
  border: solid 1px black;
  width: 11rem;
  height: 1.8rem;
  margin-top: 0px;
  text-align: center;
  margin-right:1rem;
}

.btn-see-camCor{
  background-color:   rgb(159, 245, 163);
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 600;
  margin-right: 1rem;
  font-size: larger;
  border-radius: 10px;  
  margin-top: 1.5rem;
}
      
