.sideMenuContainer {
  position: absolute;
  max-width: 80px;
  min-width: 80px;
  min-height: 100vh;
  max-height: 100vh;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
  box-shadow: -0.8rem 0 1rem 1rem rgba(#000000, 0.3) !important;
  &:hover {
    max-width: 240px;
    min-width: 240px;
    .ant-menu-title-content {
      visibility: visible;
      transform: translate(25%, 20%);
      color: var(--white);
    }
    & svg {
      margin: 0;
      font-size: 2rem;
      fill: var(--white);
      transform: translate(75%, 0%);
    }
    background-color: var(--secondary);
  }
  ul {
    padding: 0;
  }
  li {
    position: relative;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    margin-top: 0.8rem;
    display: flex;
    padding: 0.4rem 0 !important;
    color: var(--white);
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0px;
      height: 100vh;
      background-color: lighten(#328ab2, 20%);
      transition: all 0.15s ease-in-out;
    }
    &:hover:before {
      width: 100%;
    }
  }
  .ant-menu-title-content {
    visibility: hidden;
    width: 100%;
  }
  & svg {
    margin: 0;
    font-size: 2rem;
    fill: var(--secondary);
    transform: translate(75%, 0%);
  }
}

.ant-menu-inline .ant-menu-item:not(:last-child).exit,
.ant-menu-vertical-left .ant-menu-item:not(:last-child).exit,
.ant-menu-vertical-right .ant-menu-item:not(:last-child).exit,
.ant-menu-vertical .ant-menu-item:not(:last-child).exit,
.ant-menu-inline .ant-menu-item:last-child.exit,
.ant-menu-vertical .ant-menu-item:last-child.exit {
  position: absolute;
  bottom: 1%;
  width: 100%;
}
